<app-menu-navbar ></app-menu-navbar>
<div class="contact-us-container">
    <div class="contact-us-card">
      <div class="contact-us-card-header">
        <h2>Contact Us</h2>
      </div>
      <div class="contact-us-card-content">
        <p><strong>Address:</strong> Strada Brazilor 1, Brașov, Romania</p>
        <p><strong>Location:</strong> Animal Shelter Building</p>
        <p><strong>Email: </strong> <a href="mailto:info&#64;animalshelter.com">info&#64;animalshelter.com</a></p>
        <p><strong>Phone: </strong> <a href="tel:+1234567890">+40 (241) 621 190 </a></p>
      </div>
    </div>
  </div>
  