<div class="info-card-container">

    <mat-card class="info-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="info-card-header">

                <img src="/assets/heart.png" width="100px">
                <mat-card-title>Find Your Friend</mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="info-card-content">
                Finding your animal friend means discovering a loyal companion who brings joy, and a lasting bond
                into your life.
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="info-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="info-card-header">

                <img src="/assets/sad.png" width="100px">
                <mat-card-title>Save Lives</mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="info-card-content">
                Adopting a pet saves a life, giving an animal in need a second chance at happiness and a loving home.
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="info-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="info-card-header">

                <img src="/assets/world-population.png" width="100px">
                <mat-card-title>Reduce Overpopulation</mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="info-card-content">
                Adopting a pet helps reduce overpopulation and prevents the all animal  of homelessness.
            </div>
        </mat-card-content>
    </mat-card>
</div>